* {
    font-family: "neuton", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    background: lightgray;
    padding: 14px;
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    line-height: 36px;
    color: #4B0082;
    cursor: pointer;
    word-spacing: 15px;
}

.palabra-sola {

    letter-spacing: 0px;
    word-spacing: 0;

}
h1{
    font-weight: 800;
    font-size: 72px;
    color: #E6B7A9;
    font-style: italic;

}

.titulo{
    text-decoration:underline;
    text-shadow: 14px 7px 15px; 

}



.container{
     width: 100vw;
    height: 100vh;
}
/* En tu archivo style.css */
body {
    background-image: url('./proyecto-diana-salon-belleza/copilot_image_1775835668496.jpeg'); /* Ruta de tu imagen */
    background-size: cover;              /* Ajusta la imagen a toda la pantalla */
    background-position: left;         /* Centra la imagen */
    background-repeat: no-repeat;        /* Evita que la imagen se repita */
    background-attachment: fixed;        /* Hace que el fondo sea fijo al hacer scroll */
    height: 100vh;                       /* Asegura que el body ocupe toda la altura */
    margin: 0;                           /* Elimina márgenes por defecto */
             /* Elimina márgenes por defecto */
    
}

  img{
   
    margin: 0% 0% 0% 64%;
    height: 76vh;
   display: block;
  }
